.cp-green {
  background-color: rgb(3,86,66);
  color: #FFF;
}

/*Seat Container*/
.cp-seat-display-container {
  width: 100%;
  background-color: #ecf0f1;
  border: 1px solid #7f8c8d;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.legend-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}


/*Seat List*/
.cp-seat {
  width: 75px;
  height: 75px;
  margin: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cp-seat-icon {
  color: #FFF;

}
/*Seat Item*/

.legend-item {
  margin: 0.5em;
}

.legend-shape {
  width: 15px;
  height: 15px;
  border: 1px solid black; 
}

.cos {
  background-color: #16a085;
}

.aos {
  background-color: #2980b9;
}

.crs {
  background-color: #8e44ad;
}

.ars {
  background-color: #e67e22;
}

.rs {
  background-color: #c0392b;
}